<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.atcrowdfunding.dao.RoleDao">


    <!--List<Role> selectAll();-->
    <select id="selectAll" resultType="org.atcrowdfunding.bean.Role">
        select * from tb_role
    </select>
</mapper>